{% extends "layout.html" %}

{% block body %}

<h4>
    About Sayfası
<h4>
        
<div class="alert alert-primary" role="alert">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
    Sapiente fugiat quaerat corporis beatae illo similique? 
    Deserunt sed, tempora ipsum, dolor deleniti voluptatem voluptatum eveniet aperiam delectus maxime aut laborum! Blanditiis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime cum reiciendis harum tempore velit sequi vel itaque alias, blanditiis iusto incidunt mollitia explicabo, rerum illum dolorum fugit nemo voluptates aliquam.
</div>
<div class="alert alert-secondary" role="alert">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Perspiciatis architecto necessitatibus nulla molestiae beatae aut, quia, aspernatur possimus similique optio est suscipit! 
    Iste nisi minima maxime aliquid illo quisquam cupiditate.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti tempore recusandae officia? Sint perferendis repudiandae quod illo eveniet. Reprehenderit officiis expedita facere, fuga reiciendis perspiciatis quia totam assumenda quisquam incidunt?
</div>

{% endblock body %}
